<style>
    .calc-container {
        display: grid;
        grid-template-columns: repeat(4, 60px);
        gap: 5px;
        justify-content: center;
    }
    .calc-input {
        grid-column: span 4;
        width: 100%;
        height: 50px;
        font-size: 20px;
        margin-bottom: 10px;
        text-align: right;
        padding-right: 10px;
    }
    .calc-button {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
</style>
<form name="calculator" class="calc-container">
    <input type="text" id="result" class="calc-input" readonly>
    <input type="button" class="calc-button" value="C" onclick="document.calculator.result.value=''">
    <input type="button" class="calc-button" value="/" onclick="document.calculator.result.value+=' / '">
    <input type="button" class="calc-button" value="*" onclick="document.calculator.result.value+=' * '">
    <input type="button" class="calc-button" value="-" onclick="document.calculator.result.value+=' - '">
    <input type="button" class="calc-button" value="7" onclick="document.calculator.result.value+='7'">
    <input type="button" class="calc-button" value="8" onclick="document.calculator.result.value+='8'">
    <input type="button" class="calc-button" value="9" onclick="document.calculator.result.value+='9'">
    <input type="button" class="calc-button" value="+" onclick="document.calculator.result.value+=' + '">
    <input type="button" class="calc-button" value="4" onclick="document.calculator.result.value+='4'">
    <input type="button" class="calc-button" value="5" onclick="document.calculator.result.value+='5'">
    <input type="button" class="calc-button" value="6" onclick="document.calculator.result.value+='6'">
    <input type="button" class="calc-button" value="." onclick="document.calculator.result.value+='.'">
    <input type="button" class="calc-button" value="1" onclick="document.calculator.result.value+='1'">
    <input type="button" class="calc-button" value="2" onclick="document.calculator.result.value+='2'">
    <input type="button" class="calc-button" value="3" onclick="document.calculator.result.value+='3'">
    <input type="button" class="calc-button" value="=" onclick="document.calculator.result.value=calculate(document.calculator.result.value)">
    <input type="button" class="calc-button" value="0" onclick="document.calculator.result.value+='0'">
    <input type="button" class="calc-button" value="DEL" onclick="document.calculator.result.value = document.calculator.result.value.slice(0, -1)">

</form>
<script>
    function calculate(expression) {
        try {
            return eval(expression.replace(/[^-()\d/*+.]/g, ''));
        } catch (e) {
            return 'Error';
        }
    }
</script>

